*{
    margin: 0px;
}
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.text-center{
    text-align: center;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    padding: 23px 42px;
    border-radius: 6px;
    border: none;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 66px 293px;
}

.nav-title{
    font-weight: 800;
    font-size: 55px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 23px 61px 24px 0px;
}

nav ul a{
    text-decoration: none;
    font-size: 25px;
}
/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-color: #FFF8F3;
    /* margin-top: 0px; */
}
/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 0px 295px;
}
.banner-content{
    max-width: 700px;
    /* max-height: 460px; */
}
.banner-greetings{
    font-size: 56px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 100px;
}
.banner-description{
    margin-bottom: 30px;
}
.banner-profile-pic{
    width: 700px;
    height: 870px;
}

/* Main section */
main{
    max-width: 1335px;
    margin: 0 auto;
}
.about{
    /* box-sizing: border-box; */
    background-color: #FFF8F3;
    /* height: 710px; */
    margin: 130px 0px;

    border-radius: 10px;
    padding: 130px 160px;
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 110px;

}
.section-description{
    max-width: 1090px;
    margin: auto;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.item-discription{
    font-weight: bold;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

.skill-container{
    display: flex;
    gap: 25px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.skill-title {
    padding: 30px 30px 20px 0px;
}
/* .skill-description{

} */

.resume-container{
    display: flex;
    gap: 80px;
}

.resume-column-title{
    margin-bottom: 30px;
}
.experience-title{
    margin-bottom: 10px;
}
.experience-description{
    padding: 10px 15px 10px 0px;
}
.experience{
    margin: 30px 47px 30px 0px;
}
.resume-download-cv{
    margin-top: 50px;
    margin-bottom: 113px;
}

/* footer styles */

footer{
    background-color: #FFF8F3;
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}

.sec-title{
    font-size: 35px;
    font-weight: bold;
}
.footer-column{
    width: 50%;
}
footer input[type="text"] , footer input[type=email] , footer textarea{
    height: 60px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 25px;
    margin-top: 25px;
    border: none;
}

textarea[placeholder] {
    font-size: 18px;
}